@model Category
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <p>
        <label>Name</label>
        <input type="text" name="name" value="@Model.Name" />
    </p>
    <p>
        <label>Description</label>
        <textarea name="description">@Model.Description</textarea>
    </p>
    <button>Save</button>
</form>
