@model List<Product>
<div class="row">
    @foreach (Product item in Model)
    {
        
        <div class="col-4">
            <div class="item">
                <h2>
                    <a href="/home/detail/@item.Id">@item.Name</a>
                </h2>
                <div class="img">
                    <a href="/home/detail/@item.Id">
                        <img src="/upload/@item.ImageUrl" />
                    </a>
                </div>
                <p>Price: <b>@Html.FormatValue(item.Price, "{0:$#,##}")</b></p>
            </div>
        </div>           
    }   
</div>